<%
const title = "Inicio";
const parameters = { title };
const configurations = require(__dirname + "/config/index.json");

%>
<!DOCTYPE html>
<html>
<head>
    <%- await include("inc/meta.html", parameters) %>
    <%- await include("inc/styles.css", parameters) %>
</head>
<body>
    <pre><%-JSON.stringify(configurations, null, 2)%></pre>
    <%
    const { composicion } = configurations;
    for(let index_composition=0; index_composition < composicion.length; index_composition++) {
        const component = composicion[index_composition];
        const { plantilla, argumentos } = component;
        %>
        <%-await include(plantilla, argumentos);%>
        <%
    }
    %>
</body>
</html>